*{
list-style:none;
margin:0;
padding:0;
}
#table .ui-icon { background:  url(glyphish-icons/259-list@2x.png) 50% 50% no-repeat; background-size: 24px 26px; }
#score .ui-icon { background:  url(glyphish-icons/276-poison@2x.png) 50% 50% no-repeat; background-size: 18px 26px;  }
#classroom .ui-icon { background:  url(glyphish-icons/177-building@2x.png) 50% 50% no-repeat;  background-size: 18px 26px; }
#choose .ui-icon { background:  url(glyphish-icons/03-heart@2x.png) 50% 50% no-repeat;  background-size: 28px 26px; }
#evaluate .ui-icon { background:  url(glyphish-icons/271-dramamasks@2x.png) 50% 50% no-repeat;  background-size: 40px 26px; }
.nav-glyphish .ui-btn .ui-btn-inner { padding-top: 40px !important; }
.nav-glyphish .ui-btn .ui-icon { width: 30px!important; height: 30px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: 0 !important; border-radius: 0 !important; }
.display-none{
display:none;
}
.lesson-table{
font-size:12px;
margin:-10px -10px;
}